body{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    height: 754px; /* Size of player window at 1080p without theater or fullscreen */
}

p{
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

h1{
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    font-weight: 700;
    font-size: 220%;
}

h2{
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    font-weight: 600;
    font-size: 130%;
}

#progress{
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.75);
}

.app-wrapper{
    margin: 5rem 7rem 5rem 5rem;
    display: none;
    flex-direction: column;
}

#voting{
    display: flex;
    flex-direction: column;
    background: hsla(200,10%,15%,0.7);
    border-radius: 6px 6px 4px 4px;
}

#description{
    margin: 5px;
    text-shadow: 0 1px 1px rgba(0,0,0,.75);
    text-align: center;
}

#maps-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.map{
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    border-radius: 6px 6px 4px 4px;
    transition-duration: 200ms;
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.map:hover{
    background: rgba(255,255,255,0.1);
    box-shadow: 2px 3px 6px rgba(0,0,0,.4);
}

.result{
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    border-radius: 6px 6px 4px 4px;
}

.map-wrapper{
    background-size: cover;
    margin: 5px;
    width: calc(50% - 10px);
    border-radius: 6px 6px 4px 4px;
}

.title{
    width: calc(100% - 20px);
    text-shadow: 0 1px 1px rgba(0,0,0,.75);
    font-weight: 600;
    font-size: 14px;
    margin: 5px;
}

.percentage{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    font-weight: 800;
    text-shadow: 0 1px 1px rgba(0,0,0,.75);
}


.map-type {
    display: inline-block;
    background-color: hsl(0,100%,60%);
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    padding: 6px 15px;
    border-radius: 1000px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
